<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>日記一覧</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
</head>

<body>
    <h1>日記一覧</h1>
    <table>
        <tr>
            <th></th>
            <th>投稿日時</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="diary : ${diaryList}">
            <td th:text="${diary.event}"></td>
            <td th:text="${diary.createDatetime}"></td>
            <td><a th:href="@{/diary/edit(id=${diary.id})}" class="btn btn-primary">編集</a></td>
            <td>
                <form th:action="@{/diary/delete}" method="post">
                    <input type="hidden" name="id" th:value="${diary.id}" />
                    <input type="submit" value="削除" />
                </form>
            </td>
        </tr>
    </table>
    <!-- <h3>新規投稿</h3>
    <form th:action="@{/diary/add}" method="post">
        <input type="text" name="newdiary">
        <button type="submit">投稿する</button>
    </form> -->
    <div id="root">リアクト試し...</div>
    <script>
        let dom = document.querySelector('#root');
        let element = React.createElement(
            'p', {}, 'Hello React 成功！！！！'
        )
        ReactDOM.render(element, dom)
    </script>
</body>

</html>